@model Application.UseCases.Customers.Commands.CreateCustomer.CreateCustomerCommand

<h2 class="text-center">Create customer</h2>

@using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { @id = "createCustomerForm", @class = "form-group" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("First name")
        @Html.EditorFor(m => m.FirstName, new { htmlAttributes = 
            new { required = "true", minlength = "2", @class = "form-control", placeholder="First name" } })
    </div>

    <div class="form-group">
        @Html.Label("Last name")
        @Html.EditorFor(m => m.LastName, new { htmlAttributes = 
            new { required = "true", minlength = "2", @class = "form-control", placeholder="Last name" } })
    </div>

    <input type="submit" value="Save" class="btn btn-dark" />
    @Html.ActionLink("Back to List", "CustomersPage", new { }, new { @class = "btn btn-dark" })
}

@section Scripts {
    <script>
        $("#createCustomerForm").validate();
    </script>
}