@model Application.UseCases.Customers.Commands.UpdateCustomer.UpdateCustomerCommand

<h2 class="text-center">Update customer</h2>

@using (Html.BeginForm("Update", "Customer", FormMethod.Post, 
    new { @id = "updateCustomerForm", @class = "form-group" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(c => c.Id)

    <div class="form-group">
        @Html.LabelFor(c => c.FirstName)
        @Html.EditorFor(c => c.FirstName, new { htmlAttributes = 
            new { required = "true", minlength = "2", @class = "form-control", placeholder="First name" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.LastName)
        @Html.EditorFor(c => c.LastName, new { htmlAttributes = 
            new { required = "true", minlength = "2", @class = "form-control", placeholder="Last name" } })
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-dark" />
        @Html.ActionLink("Back to List", "CustomersPage", new { }, new { @class = "btn btn-dark" })
    </div>
}

@section Scripts {
    <script>
        $("#updateCustomerForm").validate();
    </script>
}