@model Application.UseCases.Customers.Commands.UpdateCustomer.UpdateCustomerCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Update", "Customer", FormMethod.Post,
  new { @id = "updateCustomerForm", @class = "form-group" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(c => c.Id)

    <div class="form-group">
        @Html.Label("First name")
        @Html.EditorFor(c => c.FirstName, new
        {
            htmlAttributes = new { required = "true", minlength = "2", maxlength = "20", 
                type = "text", @class = "form-control", placeholder = "First name" }
        })
    </div>

    <div class="form-group">
        @Html.Label("Last name")
        @Html.EditorFor(c => c.LastName, new
        {
            htmlAttributes = new { required = "true", minlength = "2", maxlength = "30", 
                type="text", @class = "form-control", placeholder = "Last name" }
        })
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-dark" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")

<script>
    $("#updateCustomerForm").validate();
</script>