@using Application.UseCases.Managers.Queries.GetFilteringManagersWithPagination
@using Application.UseCases.Managers.Queries.GetManagersWithPagination
@model Application.Common.Models.PaginatedList<Application.Common.Models.ManagerDto>

<h2 class="text-center">Managers</h2>

<table class="table text-center">
    <thead>
        <tr>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <th>
                        <button onclick="showInPopup('@Url.Action("Create", "Manager", null, Context.Request.Scheme)', 'Create manager')"
                                class="btn btn-secondary">
                            Create manager
                        </button>
                    </th>
                }
            }
            @await Html.PartialAsync("Filter", new GetFilteringManagersWithPaginationQuery())
        </tr>
    </thead>
</table>

<div id="managers-data">
    @await Html.PartialAsync("ManagersData", Model)
</div>

<nav>
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">@Html.ActionLink("Previous", "ManagersPage", "Manager",
                                      new GetManagersWithPaginationQuery { PageNumber = Model.PageNumber - 1 },
                                      new { @class = "page-link" })
            </li>
        }
        else
        {
            <li class="page-item disabled">@Html.ActionLink("Previous", "ManagersPage", "Manager",
                                      new GetManagersWithPaginationQuery { PageNumber = Model.PageNumber - 1 },
                                      new { @class = "page-link" })
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (Model.PageNumber.Equals(i))
            {
                <li class="page-item active">@Html.ActionLink($"{i}", "ManagersPage", "Manager",
                                          new GetManagersWithPaginationQuery { PageNumber = i },
                                          new { @class = "page-link" })
                </li>
            }
            else
            {
                <li class="page-item">@Html.ActionLink($"{i}", "ManagersPage", "Manager",
                                          new GetManagersWithPaginationQuery { PageNumber = i },
                                          new { @class = "page-link" })
                </li>
            }
        }
        @if (Model.HasNextPage)
        {
            <li class="page-item">@Html.ActionLink("Next", "ManagersPage", "Manager",
                                      new GetManagersWithPaginationQuery { PageNumber = Model.PageNumber + 1 },
                                      new { @class = "page-link" })
            </li>
        }
        else
        {
            <li class="page-item disabled">@Html.ActionLink("Next", "ManagersPage", "Manager",
                                      new GetManagersWithPaginationQuery { PageNumber = Model.PageNumber + 1 },
                                      new { @class = "page-link" })
            </li>
        }
    </ul>
</nav>