@model Application.UseCases.Managers.Commands.UpdateManager.UpdateManagerCommand

<h2 class="text-center">Update manager</h2>

@using (Html.BeginForm("Update", "Manager", FormMethod.Post,
       new { @id = "createCustomerForm", @class = "form-group" }))
{
    @Html.AntiForgeryToken();

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName, new { htmlAttributes = 
            new { required = "true", minlength = "2", @class = "form-control", placeholder="Last name" } })
    </div>

    <input type="submit" value="Save" class="btn btn-dark" />
    @Html.ActionLink("Back to List", "ManagersPage", new { }, new { @class = "btn btn-dark" })
}

@section Scripts {
    <script>
        $("#createCustomerForm").validate();
    </script>
}